* {
  font-family: "Roboto", sans-serif;
}

body {
  margin-left: 50px;
}

h1 {
  color: #273646;
}

html {
  background-color: #f4f6f7;
  text-align: center;
}

button {
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

.button-set {
  display: block;
  margin: 0 auto;
}

.description {
  text-align: justify;
}

#generalTitle {
  height: 70px;
}

#generalTitle > h1 {
  background-color:#273646;
  color: white;
  margin: 0 auto;
  height: 50px;
}

#titleFooter{
  background-color: #01b3b9;
  height: 20px;
}

.preSimulationContainer {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.generalDescriptionRow {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 10px;
  align-items: flex-start;
}

.descriptionText {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.descriptionText > p {
  text-align: justify;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 15px;
}

#spinFootball {
  width: 40%;
  margin: 15px;
  margin-left: 50px;
}

.theoryRow {
  display: flex;
  flex-direction: row;
}

.theory {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
}

#firstTheoryP {
  margin-top: 0px;
}

.equation {
  width: 200px;
  align-self: center;
}

#magnusEffect {
  width: 30%;
  height: 0%;
  margin: 42px;
  align-self: center;
}

.simulationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
}

#simulation {
  display: flex;
  align-self: center;
  width: 90%;
  margin-left: -50px;
  background-color:#01b3b9;
}

.inputContainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  margin-left: 40px;
}

.inputContainer .leftSection {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.inputContainer .leftSection .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.inputContainer .leftSection .row .input {
  font-weight: bold;
  font-size: 16px;
}

.inputContainer .leftSection .row .input select {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  font-weight: lighter;
}

.inputContainer .leftSection .row .input input {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  margin-left: 5px;
}

.inputContainer .rightSection {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#simulationButton {
  width: 200px;
  height: 60px;
  background-color:  #273646;
  border-radius: 18px;
  font-size: 20px;
  color: white;
}
